<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    {{>jsAndCss}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div id="movieData">{{data}}</div>
        <img class="portrait" src="/img/me.png">
    </div>

    {{>footer}}
</body>
<script>
  window.onload = () => {
    console.log(document.getElementById("movieData").innerHtml)
    var a = JSON.parse(document.getElementById("movieData").innerText);
    document.getElementById("movieData").innerText = JSON.stringify(a, null, 2);
    console.log(JSON.stringify(a, null, 2))
  };
</script>

</html>
