<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    {{>jsAndCss}}
</head>
<body>
    <div class="myContainer">
      {{>header}}
      <h1>Movie keys in database</h1>
      <ul id="dynamic-list"></ul>
      <br>
      <a href="/csv">Extract csv with all keys</a>
      <br>
      <a href="/dropDB" rel="nofollow" style = "color : red">Delete data all keys</a>
      {{>footer}}
  </div>
</body>
<script>
  function addItemToTheList(value, movieKey) {
      var ul = document.getElementById("dynamic-list");
      var li = document.createElement("li");
      var a = document.createElement("a");
      a.setAttribute('href', "/data/" + movieKey);
      li.appendChild(a);
      li.setAttribute('id', value);
      a.appendChild(document.createTextNode(value));
      ul.appendChild(li);
  }
  window.onload = () => { //after loading window fetch data to show
    $.get("/dbData", (data, status) => {
      data.forEach(movieKeyData => {
        addItemToTheList(movieKeyData.key, movieKeyData.key);
      });
    });
  };
</script>
</html>
