<!DOCTYPE html>
<html>
  <head>
      <title>Weather</title>
      {{>jsAndCss}}
  </head>

  <body>
      <div class="main-content">
          {{>header}}

          <div class="container">
          	<div class="row">
          		<input type="hidden" name="count" value="1" />
                  <div class="control-group" id="fields">
                      <label class="control-label" for="field1">Add movie keys</label>
                      <div class="controls" id="profs">
                          <form class="input-append">
                              <div id="field">
                                <input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Add movie key" data-items="8"/>
                                <button id="b1" class="btn add-more" type="button">+</button>
                              </div>
                          </form>
                      <br>

                      <button id="submit" class="btn" type="button">Extract</button>
                      <small>Press + to add another movie key field and then extract data :)</small>
                      </div>
                  </div>
          	</div>
          </div>
      </div>

      {{>footer}}

      <script src="/main.js"></script>
  </body>

</html>
