* {
  .border-radius(0) !important;
}

.container {
  display: block;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#field {
    margin-bottom:20px;
}

.input {
  width: 50%;
  max-width: 50%;
  float : left;
}

#submit {
  clear : both;
}
